[data-btn-clicks="1"]{
    font-size: 2rem; 
}
[data-btn-clicks="2"]{
    font-size: 3rem; 
}
[data-btn-clicks="3"]{
    font-size: 4rem; 
}
[data-btn-clicks="4"]{
    font-size: 5rem; 
}
